*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

header{
    background-color: #636C79;
}

/* Navbar css */
nav{
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav:nth-child(1) img{
    height: 40px;
}

@media screen and (max-width: 1200px) {
    nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

  
}

.nav-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 350px;
}

/* Media query for the navbar section */
@media screen  and (max-width: 1200px){
    .nav-list{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-left: 15px;
    }
}
.nav-list > li > a{
    text-decoration: none;
    margin-right: 30px;
    color: #fff;
}
.nav-list > li > a:hover{
    color:skyblue;
}
.nav-button > button{
    background-color:#636C79;
    color: #fff;
    padding: 5px 25px;
    border: 1px solid #fff;
}
.nav-button > button:hover{
    box-shadow: 0px 0px 5px black;
    border-radius: 5px;
    border: none;
}


/* --------- header content section ----------- */
.header-content{
    padding: 50px 100px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1200px) {
    .header-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.header-content-img{
    max-width: 500px;
    overflow: hidden;
    border-radius: 10px;
}
.header-content-img > img{
    height:550px;
    transition: transform 0.5s;
}
.header-content-img > img:hover{
    transform: scale(1.2);
}

/* right side of the header content */
#content_header{
    padding: 70px 120px;
    max-width:550px;
}
#content_header > h1{
    font-size: 60px;
    color: #fff;
    margin-bottom: 20px;
}
#content_header > p{
    color: #B8BDC2;
    margin-bottom: 20px;
    font-size: 20px;
    word-spacing: 3px;
    line-height: 30px;
}
#content_header > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 10px;
}

#content_header > div > button{
    background-color: #8BB7A2;
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    color: #fff;
    
}
#content_header > div > button:hover{
    cursor: pointer;
}
#content_header > div > input{
    outline: none;
    border: none;
    max-width: 300px;
    font-size: 15px;
    margin-left: -10px;
}
#content_header > div > i{
    font-size: 20px;
}

/* ====== Main Body ======== */
#main_heading_1{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 40px;
}
#main_div_1{
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

/* main image 1 */
#main_img_1{
    margin: 45px auto;
    max-width: 1200px;
    max-height: 500px;
    overflow: hidden;
    box-shadow: 5px 0px 10px grey;
    transition: transform 0.5s;
}
#main_img_1:hover{
    transform: scale(1.01);
}

#main_img_1 > img{
    max-width: 100%;
}

/* Main heading 2 after the image */
#main_heading_2{
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
}

/* === Main Div ======= */
.main_div_2 , .main_div_3 ,.main_div_4{
    margin: auto;
    margin-bottom: 100px;
    margin-top: 40px;
    max-width: 1350px;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: grey; */
}

@media screen and (max-width: 1200px) {
    .main_div_2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        /* background-color: #636C79; */
    }
    .main_div_3 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        /* background-color: aquamarine; */
    }
    .main_div_4{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        /* background-color: rgb(170, 91, 91); */
    }
    .div_content > button{
        margin: 2px auto;
    }
}

/* content of main div */
.div_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:80px 40px;
}
.div_content > h1{
    font-size: 50px;
    margin-bottom: 30px;
}
.div_content > p{
    color: #636C79;
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 30px;
}
.div_content > button{
    max-width:200px;
    background-color: #8BB7A2;
    padding: 15px 30px;
    font-size: 15px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: 0px 0px 5px grey;
    transition: transform 0.5s;
}
.div_content > button:hover{
    transform: scale(1.05);
    cursor: pointer;
}


/* Images of the main div */

.div_image > img{
    max-width: 550px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 10px grey;
}


/* ========== section_1 ================ */
#section_1{
    max-width: 1200px;
    margin: 20px auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    #section_1{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

#section_1 div:nth-child(1){
    font-size: 30px;
    width: 500px;
}
#section_1 div:nth-child(2){
    width: 700px;
    padding-left: 200px;
    font-size: 20px;
    color: #636C79;
}

@media screen and (max-width: 1200px){
    #section_1 div:nth-child(2){
        padding: 0em;
    }
}

/* ======= Team Members ============ */
#team_members{
    margin: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

@media screen and (max-width: 1300px){
    #team_members{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
}

#team_members > div{
    width:350px;
}
#team_members img{
    margin-bottom: 20px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    box-shadow: 5px 0px 10px grey;
}
#team_members h2{
    margin-bottom: 15px;
}

/* last button */
#last_button{
    width: 200px;
    margin: auto;
}
#last_button > button{
    max-width:200px;
    background-color: #8BB7A2;
    padding: 15px 30px;
    font-size: 15px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
    box-shadow: 0px 0px 5px grey;
    transition: transform 0.5s;
}
#last_button > button:hover{
    transform: scale(1.05);
    cursor: pointer;
}

/* ================== Footer ================= */
footer{
    margin-top: 50px;
    padding: 0px 150px;
    background-color: #10181D;
    color: #fff;
}

/* footer part 1 */
#footer_part_1{
    padding: 45px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 750px) {
    #footer_part_1{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

#footer_part_1 div:nth-child(1) > img{
    width: 125px;
}
#footer_part_1 div:nth-child(2) > i{
    font-size: 15px;
    margin: 0px 10px;
    background-color: #282F34;
    padding: 15px;
    border-radius: 100px;
}

hr{
    height:1px;
    border-width:0px;
    color:gray;
    background-color:gray
}

/* footer part 2 */
#footer_part_2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 75px 0px;
}

@media screen and (max-width: 1000px) {
    #footer_part_2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        text-align: left;
    }
}

#footer_part_2 > div > h3{
    margin-bottom: 20px;
    font-size: 20px;
}
#footer_part_2 > div > p{
    margin-bottom: 15px;
    font-weight: lighter;
    color: #636C79;
}